<div class="article-content" id="article-content">
  
  {% if article.metafields.custom.title.value != blank %}
    <div class="title">{{ article.metafields.custom.title.value }}</div>
  {% endif %}

  {% if article.metafields.custom.description.value != blank %}
    <div class="description" style="white-space: pre-line;">{{ article.metafields.custom.description.value }}</div>
  {% endif %}

  {% if article.metafields.custom.credits.value != blank %}
    <div class="credits">{{ article.metafields.custom.credits-info | metafield_tag }}
    </div>
  {% endif %}

  {% if article.metafields.custom.credits.value != blank %}
    <div class="credits-open">CREDITS</div>
  {% endif %}
 
  <div class="close-up"><a href="/">CLOSE</a></div>
</div>

<style>
  body{
    background-color:black;
  }
</style> 
