<div class="article-content" id="article-content">

  <div class="credits-open">CREDITS</div>
  <div class="close-up">CLOSE</div>

  {% if section.settings.title != blank %}
    <h2 class="issue">{{ section.settings.title }}</h2>
  {% endif %}

  {% if section.settings.credits != blank %}
    <div class="credits">{{ section.settings.credits }}</div>
  {% endif %}

  {% if section.settings.description != blank %}
    <div class="description">{{ section.settings.description }}</div>
  {% endif %}
</div>




<style>
  body{
    background-color:black;
  }

</style> 
