<div class="article-content" id="article-content">
  
  {% if article.metafields.custom.title.value != blank %}
    <div class="title">{{ article.metafields.custom.title.value }}</div>
  {% endif %}

  {% if article.metafields.custom.description.value != blank %}
    <div class="description">{{ article.metafields.custom.description.value }}</div>
  {% endif %}

  {% if article.metafields.custom.credits.value != blank %}
    <div class="credits">{{ article.metafields.custom.credits.value }}</div>
  {% endif %}


  <div class="credits-open">CREDITS</div>
  <div class="close-up">CLOSE</div>
</div>

<style>
  body{
    background-color:black;
  }
</style> 
