{% schema %}
{
  "name": "Awards",
  "settings": [
    {
      "type": "textarea",
      "id": "intro_text",
      "label": "Texto introductorio"
    }
  ],
  "blocks": [
    {
      "type": "award_item",
      "name": "Item de premio",
      "settings": [
        {
          "type": "image_picker",
          "id": "award_image",
          "label": "Imagen del premio"
        },
        {
          "type": "richtext",
          "id": "award_text",
          "label": "Texto del premio"
        }
        
      ]
    },
    {
      "type": "final_text",
      "name": "Texto final",
      "settings": [
        {
          "type": "textarea",
          "id": "closing_text",
          "label": "Texto de cierre"
        }
      ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "Awards Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<section class="awards-section">
  <div class="a-title">
    <p>AWARDS</p>
  </div> 
  {% if section.settings.intro_text != blank %}
    <div class="awards-intro">
      {{ section.settings.intro_text }}
    </div>
  {% endif %}

  <div class="awards-items">
    {% for block in section.blocks %}
      {% if block.type == 'award_item' %}
        <div class="award-item">
          {% if block.settings.award_image %}
            <img src="{{ block.settings.award_image | image_url: width: 400 }}" alt="Award image">
          {% endif %}
          <div class="award-text">

            {{ block.settings.award_text
              | replace: '</p><p>', '<br>'
              | replace: '<p>', ''
              | replace: '</p>', ''
              | raw
           }}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  {% for block in section.blocks %}
    {% if block.type == 'final_text' %}
      <div class="awards-final-text">
        {{ block.settings.closing_text }}
      </div>
    {% endif %}
  {% endfor %}
</section>
