<div class="contact-section">
  <div class="richtext-block">
    {{ section.blocks[0].settings.content }}
  </div>
  <div class="richtext-block">
    {{ section.blocks[1].settings.content }}
  </div>
</div>

{% schema %}
{
  "name": "Contact",
  "settings": [],
  "blocks": [
    {
      "type": "rich_text_1",
      "name": "Rich Text 1",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    },
    {
      "type": "rich_text_2",
      "name": "Rich Text 2",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Contact",
    }
  ]
}
{% endschema %}
