<div class="contact-section">
  {% for block in section.blocks %}
    <div class="richtext-block">
      {{ block.settings.content }}
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Contact",
  "settings": [],
  "blocks": [
    {
      "type": "rich_text",
      "name": "Contact",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Contact"
    }
  ]
}
{% endschema %}
