<div class="contact-section">
  <div class="info">
    {{ section.settings.info }}
  </div>
  <div class="info">
    {{ section.settings.info-2 }}
  </div><br><br><br><br>
  ©2025 Buffalo Zine. All rights reserved. 
</div>

{% schema %}
{
  "name": "Contact Section",
  "settings": [
    {
      "type": "richtext",
      "id": "info",
      "label": "Info Content"
    },
    {
      "type": "richtext",
      "id": "info-2",
      "label": "Info Content"
    }
  ]
}
{% endschema %}
