<div class="contact-section">
    <ul>
      
    </ul>
  
    <div class="info">
      {{ section.settings.info }}
    </div>
  </div>
  
  {% schema %}
  {
    "name": "Contact",
    "settings": [
      {
        "type": "richtext",
        "id": "info",
        "label": "Info Content"
      },
      {
        "type": "richtext",
        "id": "info-2",
        "label": "Info Content"
      }
    ],
    "presets": [
      {
        "name": "Contact"
      }
    ]
  }
  {% endschema %}
  