<div class="contact-section">


  <div class="info">
    {{ section.settings.info }}
  </div>
  <div class="info">
    {{ section.settings.info-2 }}
  </div>
</div>

{% schema %}
{
  "name": "Contact Section",
  "settings": [
    {
      "type": "richtext",
      "id": "info",
      "label": "Info Content"
    },
    {
      "type": "richtext",
      "id": "info-2",
      "label": "Info Content"
    }
  ],
  "blocks": [
    {
      "type": "email_link",
      "name": "Email Link",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "email",
          "label": "Email (user@example.com)"
        }
      ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "Contact",
      "blocks": [
        {
          "type": "email_link"
        }
      ]
    }
  ]
}
{% endschema %}
