<div class="contact-section">
  {% comment %} <div class="contact-title">
    <p>CONTACT</p>
  </div> {% endcomment %}

  <div class="info">
    {{ section.settings.info }}
  </div>
  <div class="info">
    {{ section.settings.info-2 }}
  </div>
</div>

{% schema %}
{
  "name": "Contact Section",
  "settings": [
    {
      "type": "richtext",
      "id": "info",
      "label": "Info Content"
    },
    {
      "type": "richtext",
      "id": "info-2",
      "label": "Info Content"
    }
  ]
}
{% endschema %}
