{% schema %}
{
  "name": "Interview",
  "tag": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    }
  ],
  "presets": [
    {
      "name": "Interview"
    }
  ]
}
{% endschema %}
<div class="interview">
  {{ section.settings.content }}
</div>
