{% schema %}
{
  "name": "Buffalo-live",
  "settings": [],
  "blocks": [
    {
      "type": "item",
      "name": "Elemento",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Imagen"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Enlace"
        },
        {
          "type": "text",
          "id": "caption",
          "label": "Texto (caption)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Bloque Repetidor",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<div class="swiper-live">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% assign img = block.settings.image %}
        {% assign link = block.settings.link %}
        {% assign caption = block.settings.caption %}
        
        <div class="swiper-slide">
          {% if link != blank %}
            <a href="{{ link }}">
          {% endif %}
          
          {% if img != blank %}
            <img src="{{ img | img_url: 'medium' }}" alt="{{ caption }}">
          {% endif %}
          
          {% if caption != blank %}
            <p>{{ caption }}</p>
          {% endif %}
          
          {% if link != blank %}
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  
  <div class="swiper-pagination"></div>

<style>

</style>
<script>
      const swiper = new Swiper('.swiper-live', {
        direction: 'horizontal',
        slidesPerView: 11,
        
        spaceBetween: 3,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
            renderBullet: function (index, className) {
              return `<span class="${className}"></span>`;
            }
          },
      });
</script>
