{% schema %}
{
  "name": "Products",
  "settings": [],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select product"
        }},
        {
          "type": "checkbox",
          "id": "half",
          "label": "Half"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Products"
    }
  ]
}
{% endschema %}
{% for block in section.blocks %}
  {% assign selected_product = all_products[block.settings.product] %}
  {% if selected_product %}
    {% assign variant = selected_product.variants.first %}
    <div class="product {% if block.settings.half %}half{% endif %}">
      <div class="title-thang">{{ selected_product.title }}</div>

      {% if variant.compare_at_price > variant.price %}
        <p>
          <s>{{ variant.compare_at_price | money }}</s>
          <strong>{{ variant.price | money }}</strong>
        </p>
      {% else %}
        <p>{{ variant.price | money }}</p>
      {% endif %}
    </div>
  {% endif %}
{% endfor %}




  