<div class="swiper-article color">
    <div class="swiper-wrapper">
      {% assign media = article.metafields.custom.gallery.value %}
  
      {% if media %}
        {% for item in media %}
          <div class="swiper-slide">
            {% if item.media_type == 'image' %}
              <img src="{{ item | img_url: '1024x1024' }}" alt="{{ item.alt | escape }}">
            {% elsif item.media_type == 'video' %}
              <video autoplay playsinline muted loop>
                <source src="https://cdn.shopify.com/videos/c/o/v/f1c9effe34254cc1b4ac88cf7b572830.mp4" type="video/mp4">
              </video>
            {% endif %}
  
            {% if item.alt != blank %}
              <p class="caption-article">{{ item.alt }}</p>
            {% endif %}
          </div>
        {% endfor %}
      {% else %}
        <p class="no-media">No hay imágenes o videos disponibles.</p>
      {% endif %}
    </div>
  
    <div class="swiper-pagination"></div>
    <div class="next"></div>
    <div class="prev"></div>
  </div>
  
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var swiper = new Swiper('.swiper-article', {
        loop: true,
        slidesPerView: 1,
        spaceBetween: 15,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
          renderBullet: function (index, className) {
            return `<span class="${className}"></span>`;
          }
        }
      });
    });
  </script>
  