<div class="swiper-article color">
    <div class="swiper-wrapper">
      {% assign gallery = article.metafields.custom.gallery.value %}
      {% if gallery %}
        {% for image in gallery %}
          <div class="swiper-slide">
            <img src="{{ image | image_url: '1024x1024' }}" alt="{{ image.alt | escape }}">
            {% if image.alt != blank %}
              <p class="caption-article">{{ image.alt }}</p>
            {% endif %}
          </div>
        {% endfor %}
      {% else %}
        <p>No hay imágenes en la galería.</p>
      {% endif %}
    </div>
    <div class="swiper-pagination"></div>
    <div class="next"></div>
    <div class="prev"></div>
  </div>
  
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var swiper = new Swiper('.swiper-article', {
        loop: true,
        slidesPerView: 1,
        spaceBetween: 15,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
          renderBullet: function (index, className) {
            return `<span class="${className}"></span>`;
          }
        }
      });
    });
  </script>
  