<div class="swiper-article color">
    <div class="swiper-wrapper">
      {% assign media = article.metafields.custom.media_gallery.value %}
      {% if media %}
        {% for item in media %}
          <div class="swiper-slide">
            {% if item.media_type == 'image' %}
              <img src="{{ item | img_url: '1024x1024' }}" alt="{{ item.alt | escape }}">
            {% elsif item.media_type == 'video' %}
              <video autoplay loop muted>
                <source src="{{ item | file_url }}" type="video/mp4">
              </video>
            {% endif %}
            {% if item.alt != blank %}
              <p class="caption-article">{{ item.alt }}</p>
            {% endif %}
          </div>
        {% endfor %}
      {% else %}
      {% endif %}
    </div>
  
    <div class="swiper-pagination"></div>
    <div class="next"></div>
    <div class="prev"></div>
  </div>
  
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var swiper = new Swiper('.swiper-article', {
        loop: true,
        slidesPerView: 1,
        spaceBetween: 15,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
          renderBullet: function (index, className) {
            return `<span class="${className}"></span>`;
          }
        }
      });
    });
  </script>
  