<div class="swiper-article color">
    <div class="swiper-wrapper">
      {% assign media = article.metafields.custom.gallery.value %}
      {% if media %}
        {% for item in media %}
          <div class="swiper-slide">
            {% if item.media_type == 'image' %}
              <img src="{{ item | img_url: '1024x1024' }}" alt="{{ item.alt | escape }}">
            {% elsif item.media_type == 'video' %}
                {% assign mp4_url = '' %}
                {% for source in item.sources %}
                  {% if source.format == 'mp4' %}
                    {% assign mp4_url = source.url %}
                    {% break %}
                  {% endif %}
                {% endfor %}
                
                {% if mp4_url != '' %}
                  <video autoplay muted loop playsinline controls>
                    <source src="{{ mp4_url }}" type="video/mp4">
                  </video>
                {% endif %}
              {% endif %}
            {% if item.alt != blank %}
              <p class="caption-article">{{ item.alt }}</p>
            {% endif %}
          </div>
        {% endfor %}
      {% else %}
      {% endif %}
    </div>
    <div class="swiper-pagination"></div>
    <div class="next"></div>
    <div class="prev"></div>
  </div>
  
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var swiper = new Swiper('.swiper-article', {
        loop: true,
        speed:400,
        slidesPerView: 1,
        spaceBetween: 15,
        navigation: {
          nextEl: '.next',
          prevEl: '.prev',
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
          renderBullet: function (index, className) {
            return `<span class="${className}"></span>`;
          }
        }
      });
    });
  </script>
  