@charset "utf-8";
/* Selection styles */
::selection {
  background-color: black!important;;
  color: white!important;
}
:focus::-ms-value {
  background-color: none;
  color: inherit;
}
:focus {
  outline: none !important;
}
/* Scrollbar */
::-webkit-scrollbar {
  display: none;
}
::-moz-focus-inner {
  border: none !important;
}
.head-product{
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  grid-gap:3px;
}
.metafield-rich_text_field {
  display: grid;
  row-gap: 0px;
}
.custom-image {
  top: calc(var(--m) + 10px);
  z-index: 1;
  position: fixed;
  margin: 0 auto;
  padding: 0 10px;
  width: 182px;
}
/* CSS Variables */
:root {
  --fs: 12px;
  --space: 10px;
  --fsm: 22px;
  --fsb:22px;
  --gap: 10px;
  --bgm: red;
  --bg:white;
  --font: 'Arial, Helvetica, sans-serif;';
  --fontsec: 'times new roman';
}

/* Fonts */
@font-face {
  font-family: 'EngraversGothicBold';
  src: url('../assets/EngraversGothicBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Fonts */
@font-face {
  font-family: 'GrotesqueMTStd';
  src: url('../assets/GrotesqueMTStd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
header,
footer,
section,
article,
aside,
menu,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
a,
strong,
b,
i,
s,
address,
sub,
sup,
form,
label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

ol, ul, li {
  list-style: none;
}
html{
  padding: 0px!important;
}
table,
thead,
tbody,
tfoot,
tr,
th,
td {
  display: block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: inherit;
  border-spacing: 0;
  border-color: inherit;
  vertical-align: inherit;
  text-align: left;
  font-weight: inherit;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}

input,
button,
select {
  padding-bottom: 0px!important;
  font-size: 100%;
  padding: 0;
  margin: 0;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  color: inherit;
  background: transparent;
  background-color: transparent;
  line-height: normal !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--bl);
  font-size: var(--fs);
  font-weight: normal;
  font-family: 'EngraversGothicBold';
  letter-spacing: 0px;

}
input[type="checkbox"],
button,
select {
  display: block;
  cursor: pointer;
}
body.shopify-admin {
  DISPLAY: NONE;
}
input,
input:disabled,
button:disabled,
select:disabled {
  opacity: 1;
}
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* Hide elements */
#preview-bar-iframe,
.collection-digital-goods-vat-tax,
.collection-monarch-regular,
.collection-skrappa-bold-condensed,
.collection-frontpage,
#admin-bar-iframe {
  display: none !important;
}

/* Body styles */
body {
  overflow-x: hidden;
  color: var(--bl);
  font-size: var(--fs);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background: var(--bg);
  margin: auto;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  font-smoothing: antialiased;
}
body.active{
  overflow: hidden;
}
/* Image and video styles */
img,
video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  font-size: 0;
  line-height: 0;
  transition: 0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Link styles */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* MENU */
.nav{
  z-index: 10!important;
  line-height: 80px;
  text-align: center;
  left: 0;
  bottom: 0;
  position: fixed;
  background-color: var(--bgm);
  height: calc(var(--h) - var(--m));
  width: 100vw;
  color: var(--bgw);
  font-size: var(--fsb);
  display: none;
  justify-content: center;
  align-items: center;
  letter-spacing: 0px;
}

.nav.active{
  display: grid;
}

#header{
  top: 0px;
  z-index: 12;
  font-size: var(--fs);
  color: var(--bl);
  width: 100vw;
  display: flex;
  position: sticky!important;
  padding: 0px 0px;
  border-bottom: 1px solid var(--bl);
  background-color: var(--bg);
}

.localization-selectors select#CountrySelector{
  display: none;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  padding: 0px;
  text-transform: uppercase;
}

#header.active{
  background-color: var(--bgm);
  border-bottom: 1px solid var(--bgw);;
  color: var(--bgw);
  z-index: 100;
  /* transition: background-color 0.2s ease; */
}

#header.stone svg path{
  fill: var(--bl);
}
a.Buffalo.Live\! {
 
}
#header.active svg path{
  fill: var(--bgw);
}
li.active a {
  color: grey;
}

.menu{
  color: white;
  background-color: black;
  text-transform: uppercase;
  position: relative;
  width: 100%;
  display: flex;
  grid-gap: 20px;
  align-items: center;
  padding: 5px var(--space);
}
.menu a:hover{
  color: grey;
}
.menu-open{
  cursor: pointer;
}
a#cart{
  top: 0px;;
  position: absolute;
  right: 0px;
  padding: 5px 10px;
  display: flex;
}
.logo img{
  height: 37px;
}
.logo{
  display: flex;
}
div#products {
  grid-template-columns: repeat(12, 1fr);
  display: grid;
  grid-gap:3px;
}
.product:nth-of-type(3n) {
  border-right: none;
}

div#products img {
  max-height: auto;
}
.unique-size {
  border: 1px solid;
  padding: var(--space);
  text-align: center;
}
  .swiper-quotes{
  column-count: 2;
  padding: 10px;
  width: 50%;
  background-color: white;
  color: black;
}
.swiper-quotes .swiper-slide p {
  font-family: Times New Roman, Times, serif;
  padding: var(--space) 0px var(--space) 0px;
  font-size: var(--fsb);
  line-height: clac(var(--fsb) + 5px);
}
.custom-text-article{
  padding: var(--space);
  text-align: left;
  font-family: Times New Roman, Times, serif;
  font-size: var(--fsb);



}
.swiper-quotes .swiper-slide p strong{
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
}
.product {
  grid-column: span 4;
  border-right: 1px solid var(--bl);
  border-bottom: 1px solid var(--bl);
}
.product.half {
  grid-column: span 6!important;
}
a.more-info {
  display: block;
  text-align: center;
  padding: 5px;
}

.product-title{
  padding: var(--space);
  text-transform: uppercase;
  text-align: left;
}

.product-price{
  margin-bottom: 10px;
  text-transform: uppercase;
}
.product-simple{
  position: relative;
}
.product.simple.sold .thumbnail{
  position: relative;
  opacity: 0.2;
}
.product{
  position: relative;
}
.soldi{
transform: translate(0%, -50%);
    top: 50%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

/* FOOTER */
footer{
 margin-top: auto;
 justify-content: center;
 padding:var(--space);
}
footer .container{
 display: flex;
 gap: var(--space);
}


/* ARTICLE */
.article-content{
  padding:10px;
  color: white;
  text-align:center;
  display:grid;
  row-gap:10px;
  position: relative;
}
.issue{
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
.grid-gallery {
  display: grid;
  grid-template-columns: repeat(9,1fr);
  column-gap:3px;
  row-gap: 50px;
  padding: 10px;
  min-height: 100vh;
}
.description p {
  font-family: times;
}
.interview p {
  font-family: times;
}
.info-hero p{
  font-family: times;
}
.column-text p{
  font-family: times;
}
.contact-section p{
  font-family: times;
}
.contributors p{
  font-family: times;
}
.description{
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
  font-family: Times New Roman, Times, serif;
  font-size: var(--fsb);
  line-height: clac(var(--fsb) + 5px);
}
.contributors {
  column-count: 2;
  text-align: left;
  font-family: Times New Roman, Times, serif;
  font-size: var(--fsb);
  line-height: clac(var(--fsb) + 5px);
}
.buy-block .description{
  margin: 0 auto;
  max-width: 1000px;
  text-align: left;
  font-family: Times New Roman, Times, serif;
  font-size: var(--fsb);
  padding: 0px;
  line-height: clac(var(--fsb) + 5px);
}
.swiper-article.color{
  color: white;
}
.caption-article {
  padding: 10px;
  text-align: center;
  bottom: 22px;
  position: absolute;
  font-size: var(--fsb);
  list-style: 23px;
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.close-up {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  color: white;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
}
.title-related {
  grid-column: span 2;
  text-align: center;
  padding: 10px;
  color: black;
}
em {
  font-style: normal;
  font-size: var(--fsb);
  list-style: 23px;
  font-family: 'Times New Roman', Times, serif;
}
.interview {
  font-size: var(--fsb);
  list-style: 23px;
  padding: 20px;
  font-family: Times New Roman, Times, serif;
  max-width: 800px;
  margin: 0 auto;
}
section#shopify-section-template--24808222163276__interview_fdRXe6 {
  background-color: white;
}
div#shopify-section-template--24808222163276__products_49rfai {
  background-color: white;
}
.credits-open {
  z-index: 1000;;
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
}
.credits {
  width: 100vw;
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 10;
  height: calc(var(--h) - var(--m));
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
}
.credits.active {
  display: flex;
}
  /* 
/* HOMEPAGE */
section.hero {
  position: relative;
  height: calc(var(--h) - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-content .title {
  font-size: 18px;
}
.next{
  position:absolute;
  right: 10px;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1;
  font-size: 30px;
}

.prev{
  font-size: 30px;
  position:absolute;
  left: 10px;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1;
}
section.six-products-with-bg {
  position: relative;
  height: auto;
}
.products-list {
  color: var(--bg);
  padding: 10px;
  top: 0px;
  position: absolute;
}
section.hero img {
  z-index:-1;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: var(--nav);
  object-fit: contain;
}

section.hero img.hover-media {
  z-index:-1;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: var(--nav);
  object-fit: cover;
}

.info-hero{
  max-width: 1000px;
  text-align: left;
  font-family: Times New Roman, Times, serif;
  padding: var(--space);
  font-size: var(--fsb);
  line-height: clac(var(--fsb) + 5px);
}

.aim {
  background-color: white;
  text-transform: uppercase;
  padding: 5px 10px;
  top: 0px;
  left: 0px;
  position: absolute;
  font-size: var(--fs);
  line-height: var(--fs);
  color: black!important;
  max-width: 1200px;
  text-align: center;
}
.product-price-white{
  padding: 0px var(--space);
  position: absolute;
  padding-bottom: 5px;
  z-index: 10;
left: 0px;
  background-color: white;
  top: 24px;
}
.article-card {
  overflow: hidden;
  position: relative;
}
img.hover-media {
  top: 0px;
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
video.hover-media {
  top: 0px;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.article-card p{
  color: white;
}
.article-card:hover .hover-media {
  opacity: 1;
}
.product:hover .hover-media {
  opacity: 1;
}
.hero:hover .hover-media {
  opacity: 1;
}
.title-thang {
  top:0px;
  z-index: 1;
  color: black;
  text-align: left;
  position: absolute;
  padding: 5px 10px;
  background-color: white;
  font-weight: normal;
}
.content-article-home{
  text-align: left;
  position: absolute;
  padding: 10px;
  bottom: 0px;
}
.article-card{
}
.dub {
  text-align: left;
}

section.single-product {
  height: calc(var(--h) - var(--m));
  position: relative;
}

section.two-products, .articles-block{
  text-align: center;
  display: grid;
  grid-gap:3px;
  grid-template-columns: repeat(2, 1fr);
}
.articles-block{
}
section.two-products .product:nth-of-type(2n) {
  border-right: none;
}
section.two-products .product {
  border-bottom: 0px;
}

section.two-products img {
}
.product-title-section{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: var(--space);
}
.product-title-section a{
  border-bottom: 1px solid var(--bl);
}
section.gallery {
  display: flex;
}
.product .product-sizes{
  display: none;
}
div#shopify-section-hero {
  display: grid;
  row-gap: 3px;
}
section.single-product img {
  top: 0;
  max-height: 500px;
  min-height: 500px;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
section.single-product.full-screen img {
  top: 0;
  z-index: -1;
  max-height: 100%;
  min-height: 100%;
  height: 100%;
  height: 100%;
  object-fit: cover;
  left: 0%;
  top:0%;
  transform: translate(0);
  position: absolute;
}
.contributors{

}
.row {
  display: grid;
  row-gap: 5px;
}
section.single-product.full-screen .product-title-section{
  color: white;
  mix-blend-mode: exclusion;
}
form#cart-wrapper {
  padding: 0px 10px;
  grid-gap: 3px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.award-item {
  display: flex;
  grid-gap: 10px;
}
.award-item img {
  width: 80px;
}
.item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.article-card.width-half {
  grid-column: span 6;
}
.article-card.width-third {
  grid-column: span 4;
}
/* CART */
 .total {
  text-align: center;
  display: grid;
  grid-column: 2 / span 1;
}
div#bag {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  grid-gap: 3px;
}
.item > div {
  border-bottom: 1px solid var(--bl);
}
.articles-block.global{
  grid-template-columns: repeat(12, 1fr)!important;
}
.product-variant-title {
  text-align: center;
  cursor: pointer;
  position: relative;
  width: 100%;
  border: 1px solid black;
  color: black;
  background-color: white;
  padding: 10px;;
}

.thumb{
  border-left: 1px solid var(--bl);
}
.thumb img{
  height: calc(var(--h) - var(--m));
}
.item .product-title {
  grid-column: span 2;
  letter-spacing: 0px;
}
.dub {

}

/* ABOUT */
.title-page {
  padding: 0px;
  text-transform:uppercase;
  letter-spacing: 0px;
}
div#shopify-section-about {
  background-color:white;
  color:black;
}
.contact-title {
  grid-column: span 2;
  font-family: Helvetica, sans-serif;
  padding: 0px 0px;
}
.non{
  display: none;
  top: calc(var(--m) + 10px);
  z-index: 1;
  position: fixed;
  margin: 0 auto;
  padding: 0 10px;
  width: 182px;
}
.single-info {
  text-transform: uppercase;
  max-width: auto;
  padding: var(--space);
}
.buy-block {
  height: calc(var(--m) - var(--h));
  border-right: 1px solid var(--bl);
}
button.name-btn {
  font-family: var(--font);
}
button.name-btn.active {
  font-family: var(--font);
  color: grey;
}summary.active {
  color: red;
}
.sub-menu{
  display: none;
}
.category-filters {
  padding-bottom: 10px !important;
  background-color: white;
  width: 100%;
  z-index: 1000;
  top: var(--m);
  position: sticky;
  height: fit-content;
  padding: 0 8px;
  font-family: var(--font);
  text-transform: uppercase;
}
ul.names-list {
  padding-left: 20px;
}
.category-filters summary{
  text-align: left;
}
.column-text {
  width: 50%;
  /* margin: 0 auto; */
  font-family: Times New Roman, Times, serif;
  font-size: var(--fsb);
  column-count: 2;
  padding: 0px var(--space);
  letter-spacing: 0px;
}
.product-variants {
  position: relative;
}
.interior, .info-interior {
  font-family: 'Times New Roman', Times, serif;
  font-size: var(--fsb);
  line-height: 24px;
  letter-spacing: 0px;
}
.related-title {
  grid-column: span 3;
  text-align: center;
  padding: 10px;
}
.block-content {
  margin-bottom: 15px;
}
.title{
  text-transform: uppercase;
}
.article.estandard {
  position: relative;
}
.shopify-section > section{
  border-bottom: 1px solid var(--bl);
}
.related {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  grid-gap: 2px;
}
.policies{
  /* margin: 0 auto;
  max-width: 1400px; */
  padding: var(--space);
  grid-gap: 15px;
  /* grid-template-columns: repeat(3, 1fr);
  display: grid;  */
  column-count: 3;
}
div#main-product{
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  grid-gap:3px;
  column-gap: 10px;
  padding: 0px 10px;
}
.main .gallery{
  grid-column: span 2;
}
.product_gallery{
  border-left: 1px solid var(--bl);
  height: calc(var(--h) - var(--m));
  overflow: hidden;
  padding: 20px;
}
.product_gallery img{
  height: calc(var(--h) - var(--m));
}
div#main-product > div{
  border-bottom: 1px solid var(--bl);
}

span.quantity-button.minus, span.addmore {
  cursor: pointer;
}
/* INFO */
.stock-list {
  color: #fff;
  background-color: #000;
  display: grid;
  padding: var(--space);
  grid-template-columns: repeat(1, 1fr);
}
div#shopify-section-about {
  padding-top: 10px;
  background-color: white;
  color: black;
}
div#shopify-section-stocklist {
  background-color: #000;
  color: #fff;
  padding-top: 10px;
}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  padding-bottom: 10px;
}

.title-thang{
  font-family: Helvetica, sans-serif;
  font-size: var(--fs);
  font-weight: normal;
  text-transform: uppercase;
}
.stockist-item {
  font-family: Helvetica, sans-serif;
  font-size: var(--fsb);
  font-weight: normal;
}
.stockist-item h3{
  font-family: 'Times New Roman', Times, serif;
  font-size: var(--fsb);
  font-weight: normal;
}
.stockist-item p {
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: Times New Roman, Times, serif;
  font-size: var(--fsm);
  letter-spacing: 0px;
}
.stockist-search {
  padding-left: 10px;
  font-family: Helvetica, sans-serif;
  color: white;
}
input#stockistFilter{
  font-family: Helvetica, sans-serif;
  text-align: left;
  color: white!important;
  width: 300px; 
  padding: 10px;
  margin: 0 auto;
}
input#stockistFilter::placeholder{
  color: white!important;
  opacity: 0.5;
}
.contact-section{
  font-family: 'Times New Roman', Times, serif;
  display: grid;
  grid-gap:10px;
  padding: var(--space);
  grid-template-columns: repeat(2, 1fr);
}
.contact-section ul{
  text-transform: uppercase;
  column-count: 1;
}
.contact-section .info{
  font-family: 'Times New Roman', Times, serif;
  font-size: var(--fsm);
  letter-spacing: 0px;
}
div#shopify-section-contact {
  WIDTH: 50%;
}
.contact-section .info a{
  font-family: 'Times New Roman', Times, serif;
  font-size: var(--fsm);
  letter-spacing: 0px;
}
.contact-section .info strong{
  font-family: Helvetica, sans-serif;
    font-size: var(--fs);
  line-height: 14px;
  font-weight: normal;
  letter-spacing: 0px;
}
.gallery{
  height: fit-content;
  display: grid;
  row-gap: 3px;
  position: relative;
}
.title-store{
  text-transform: uppercase;
}
/* PRODUCTS */
.buy-block {
  height: calc(var(--h) - var(--m));
  overflow: scroll;
  top: var(--m);
  position: sticky;
}
.product-variant-item {
  text-align: left;
}
details {
  padding:0px;
}
summary {
  text-transform: uppercase;
  text-align: center;
}
details summary::-webkit-details-marker {
  display:none!important;
}
details > summary {
  list-style: none;
  cursor: pointer;
}
details > summary::-webkit-details-marker {
  display: none;
}
.interior {
  padding-top: var(--space);
}
/* Sold and sale product styles */
.product.sold .product-sizes,
.product.simple .product-sizes {
  display: none;
}
/* Selection styles */
::selection {
  background-color: transparent;
  color: var(--bgm);
}
/* SWIPER ARTICLE
================================================== */
.swiper-article {
  width: 100%;
  height: calc(100vh - var(--a) - var(--m));
  display: flex;
  padding: 0px;
  border-bottom: 1px solid var(--bl);
}
.swiper-article span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: white !important;
}
.swiper-article span.swiper-pagination-bullet.swiper-pagination-bullet {
  background: white !important;
}
.swiper-article .swiper-slide{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.none{
  display: block;
}

.swiper-article .swiper-slide img{
  display: flex;
  height: calc(100% - 80px);
  width: 100%;
  object-fit: contain;
  align-items: center;
}
.swiper-article .swiper-slide video{
  display: flex;
  height: calc(100% - 80px);
  width: 100%;
  object-fit: contain;
  align-items: center;
}
.swiper-article .swiper-wrapper {
  display: flex;
  align-items: center;
}
.estandard{
  grid-column: span 1!important;
}
.related.pr .product{
  grid-column: span 1!important;
}
@keyframes crazy-colors {
  0%    { background-color: blue; }
  16.66% { background-color: red; }
  33.33% { background-color: green; }
  50%   { background-color: yellow; }
  66.66% { background-color: black; }
  83.33% { background-color: white; }
  100%  { background-color: blue; } /* Vuelve a empezar en bucle */
}
.swiper-live .swiper-wrapper.centered {
  justify-content: center !important;
}
.swiper-live .swiper-wrapper.centered .swiper-slide img {
  transition: 0s;
}

.shuffle-mix {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  transition: background 0s;
  z-index: 20000;
  display: none;
  background-color: black;
  animation: none; /* por defecto no animado */
}

.shuffle-mix.active {
  display: block;
  animation: crazy-colors 1s steps(20, end) infinite;
}
section.awards-section {
  width: 50%;
  padding: 10px;
  display: grid;
  row-gap: 10px;
  grid-template-columns: repeat(1, 1fr);
}
.awards-items {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  grid-gap:10px;
}
.awards-final-text {
  font-family: Times New Roman, Times, serif;
  font-size: var(--fsb);
  line-height: 20px;
}
.awards-intro {
  font-family: Times New Roman, Times, serif;
  font-size: var(--fsb);
  line-height: 20px;
}
.award-text {

  height: fit-content;
  align-self: center;
}
.award-item {
  display: flex;
  grid-gap: 10px;
}
/* SWIPER
================================================== */
.related-products {
  padding: 0px 10px;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  grid-gap:3px;
}
div#shopify-section-template--24808222163276__interview_fdRXe6 {
  background-color: white;
}
/* SWIPER
================================================== */
.swiper-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: 3px 0px;
  border-bottom: 1px solid var(--bl);
}
.swiper-gallery{
  position: relative;
  overflow: hidden;
  height: calc(var(--h) - var(--m));
}
.swiper-live{
  top: 0px;
  overflow: hidden;
  height: calc(var(--h) - var(--m));
  display: flex;
  align-items: center;
}

.swiper-live .swiper-slide{
  display: flex;
  align-items: center;
}
.swiper-live .swiper-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
}
.swiper-gallery img{

}
.swiper-article span.swiper-pagination-bullet.swiper-pagination-bullet-active, .swiper-article span.swiper-pagination-bullet.swiper-pagination-bullet {
  background: #fff !important;
  padding: 0px;
  margin: 0px;
}

.swiper-pagination {
  display: flex;
  grid-gap: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}
div#info-product {
  padding: 10px 0px;
}

.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background-color: #aaa;
  opacity: 1;
}
.details-product{
  color: grey;
  opacity: 0;

}
.swiper-pagination-bullet-active {
  background-color: #000;
}
.custom-image:hover .details-product{
  opacity: 1;
}
.caption{
  z-index: 1000;
  display: none;
  position: fixed;
  left: 0px;
  bottom:100px!important;
  width: 100%;
  left: 0px;
  text-align: center;
  font-size: var(--fsb);
  list-style: 23px;
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
}
summary.city {
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  text-transform: capitalize;
}
.swiper-slide:hover .caption {
  display: block;
}
.swiper-slide-active {

}
.prev,
.next {
  cursor: pointer;
}
.swiper-counter {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}
a.buffalo-live\! {
}
input[type="checkbox"],
button,
select {
  display: block;
  cursor: pointer;
}

input,
input:disabled,
button:disabled,
select:disabled {
  opacity: 1;
}

/* Scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Remove focus outline */
:focus {
  outline: none !important;
}
:focus::-ms-value {
  background-color: none;
  color: inherit;
}
::-moz-focus-inner {
  border: none !important;
}
#product-7918153433300{
  display:none;
}
.talla p:nth-child(even){
  background-color: var(--light);
  padding: 5px;
  padding-bottom: 2px;
}
.talla p:nth-child(odd) {
  background-color: var(--darker);
  padding: 5px;
  padding-bottom: 2px;
}
/* Shop styles */
.product.active-size,
.product.active-color {
  display: none;
}
/* Sold and sale product styles */
.product.sold .product-sizes,
.product.simple .product-sizes {
  display: none;
}

/* Visually hidden */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.colors {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0%,-50%);
  display: inline-grid;
  row-gap: 5px;
}

.colors span,
.product-variant-option .color-option {
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
  width: 20px;
  height: 15px;
  border-radius: 100px;
}

.colors span.unavailable {
}


.product-sizes {
  width: auto;
  min-width: 124px;
  bottom: 19px;
  left: 0;
  position: relative;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.product-variants {
  grid-gap: 10px;
  display: grid;
  margin-bottom: 20px;
}
.title-page.cartie {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0px;
  width: 100%;
  text-align: center;
  position: fixed;
  font: var(--fs);
}

.unavailable {
  color: grey;
  text-decoration: line-through;
}
.product-sizes.hide {
  display: none;
}
.product-variant-option[open]:not(.unavailable) .option-value {
  color: grey;
}
.product-variant-option[open]:not(.unavailable) .color-option {
}
.product-variant-option[open]:not(.unavailable) .color-option::after {
}
.product-variant-item .product-variant-option {
  cursor: pointer;
  text-align: center;
  position: relative;
  width: 100%;
  cursor: pointer;
  position: relative;
  width: 100%;
  color: white;
  background-color: black;
  padding: 10px;
}
fieldset {
  display: none;
  margin: 0px;
  grid-gap: 0px;
  padding: 0px;
  flex-direction: column;
  border: 0px;
}
.product-variant-title {
  padding-bottom: auto;
}
.more-info {
  padding: 5px;
  text-align: center;
}
.product-variant-item input {
  cursor: pointer;
}
.related-title {
  text-align: center;
  padding: 10px;
}

.variations #add-to-bag {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font)!important;
  color:var(--bg)!important;
  padding: 10px!important;
  width: 100%;
  border: 1px solid black;
  background-color: black;
}

button#checkout{
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font)!important;
  color:var(--bg)!important;
  padding: 10px!important;
  width: 100%;
  height: fit-content;
  background-color: black;
}
.bag .product-price{
  border-bottom: 1px solid var(--bl);
}
button.sold-out-button {
  z-index: 12;

  text-transform: uppercase;
  position: absolute;
  background: white;
  color: black;
  padding: 0px var(--space);
  padding-bottom: 5px !important;
  left: 0;
  top: 24px;
  font-family: Arial, Helvetica, sans-serif;
}
.buy-block .product-price{
  padding-top: 10px;
  font-size: 18px;
}
.menu-op{
  display: none;
}
@media (max-width: 1000px) {
div#main-product{
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  grid-gap:3px;
  padding: 0px 10px;
}


.main .gallery{
  grid-column: span 1;
}
}
/* Small mobile styles */
@media (max-width: 680px) {
  form#cart-wrapper {
    grid-template-columns: repeat(1, 1fr);
}
.total {
  padding-bottom: 10px;
  grid-column: 1 / span 1;
}
a.buffalo-live\! {
}
section.two-products, .articles-block {
  grid-template-columns: repeat(1, 1fr);
}
.menu-op{
  display: block;
}

.none{
  display: none;
}
.description {
  margin: 0 auto;
  max-width: 1000px;
  text-align: left;
  font-family: Times New Roman, Times, serif;
  padding: 10px 0px;
  font-size: var(--fsb);
  line-height: clac(var(--fsb) + 5px);
}
.contributors {
  column-count: 2;
  text-align: left;
}
.custom-image {
  top: calc(var(--m) + 10px);
  z-index: 1;
  position: fixed;
  margin: 0 auto;
  display: none;
  padding: 0 10px;
  width: 182px;
}
.close-up{
  display: none;
}
.buy-block {
  height: auto;
  top: var(--m);
  position: inherit;
}
.column-text {
  column-count: 1;
} 

.related-title {
  grid-column: span 1!important;
}
.related-products {
  grid-template-columns: repeat(1, 1fr);
}
div#products {
  grid-template-columns: repeat(1, 1fr);
}

.buy-block {
  order: -1;
}

.aim {
  top: 0px;
}
.sub-menu {
  display: none;
}
.credits-open {
  z-index: 1000;
  position: relative;
  top: 10px;
  left: 0px;
  cursor: pointer;
}
.article-content .description {
  text-align: center!important;
}
.sub-menu.active {
  text-transform: uppercase;
  position: relative;
  width: 100%;
  display: flex;
  grid-gap: 0px;
  text-align: left;
  padding: 10px var(--space);
  display: flex;
  flex-direction: column;
}
#header {
  flex-direction: column;
  position: sticky!important;
}
div#shopify-section-template--24808222163276__interview_fdRXe6 {
  background-color: white;
}
.product {
  grid-column: span 12;
}
.award-item {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, 1fr);
}

.product.half {
  grid-column: span 12!important;
}
.stock-list {
  grid-template-columns: repeat(2, 1fr);
}
form#cart-wrapper {
  padding: 0 10px;
  grid-gap: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.grid-gallery {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap:3px;
  row-gap: 50px;
  padding: 10px;
  min-height: 100vh;
}
.swiper-quotes, .column-text, div#shopify-section-contact, section.awards-section  {
  width: 100%;
}
.non{
  display: block !important;
  top: 0;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  padding: 0 10px 20px;
  width: 182px;
}
.interview {
  color: black;
  font-size: var(--fsb);
  list-style: 23px;
  padding: 10px;
  font-family: Times New Roman, Times, serif;
  max-width: max-content;
  margin: 0 auto;
}
div#main-product {
  grid-template-columns: repeat(1, 1fr);
}
.contact-section {
  grid-template-columns: repeat(1, 1fr);
}
.item {
  display: grid;
  row-gap: 10px;
  grid-template-columns: repeat(1, 1fr);
}
  :root {
    --fs: 13px;
    --space: 10px;
    --fsm: 18px;
    --fsb:18px;
    --gap: 10px;
    --bgm: red;
    --bg:white;
    --font: 'Arial, Helvetica, sans-serif;';
    --fontsec: 'times new roman';
  }
}
