<div id="main-collection" class="main">
    {% section 'hero' %}
    {% section 'social' %}
</div>
<style>
    #header{
        position:fixed;
        background-color:transparent;
        color:var(--bg);
        border-bottom:1px solid var(--bg);
    }
    .aim{
        color:var(--bg);
    }
    svg path{
        fill:var(--bg);
    }
</style>

<script>  
</script>