<div id="main-collection" class="main">
    {% section 'hero' %}
    {% section 'social' %}
    {% section 'about' %}
    {% section 'stocklist' %}
    {% section 'contact' %}
    {% section 'quotes' %}
</div>
<style>
    #header{
        position:fixed;
    }
    .aim{
        color:var(--bg);
    }
</style>

<script>  
</script>