<div id="main-collection" class="main">
    {% section 'hero' %}
    {% section 'social' %}
    {% section 'info' %}
</div>
<style>
    #header{
        position:fixed;
    }
    .aim{
        color:var(--bg);
    }
</style>

<script>  
</script>