<div class="main_page">
  {% comment %} <div class="page_title">
    {{ page.title }}
  </div> {% endcomment %}
</div>
{% section 'about' %}
{% section 'quotes' %}
{% section 'awards' %}
{% section 'stocklist' %}
{% section 'contact' %}
